html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.wrapper-width {
  width: 1170px;
  margin: auto;
}

/* Styling for headings */
h1,
h2,
h3,
h4,
h5 {
  color: #201f1f;
}

h3 {
  margin: 0 10%;
}

/* Margin styling for specific elements */
.margin-top-ten {
  margin: 10% 0;
}

h1 {
  font-size: 3rem;
}

.header-title-span {
  color: #ffff;
  font-size: 4rem;
  display: block;
  font-size: 4rem;
}

/* Styling for h2 elements */
h2 {
  font-size: 3rem;
  line-height: 4rem;
}

/* Styling for h4 elements */
h4 {
  font-size: 2rem;
}

/* Styling for anchor links */
a {
  font-size: 2rem;
}

/* Header styling */
header {
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2% 10%;
  height: 50px;
  position: fixed;
}

main {
  padding-top: 50px;
}

.section-hero__header {
  background-image: url("images/mobile-header-bg.jpg");
  background-repeat: no-repeat;
  height: 75vh;
  background-position: center;
  background-size: contain;
  background-color: #ffbb3f;
}

header img {
  width: 15%;
}

/* Styling for navigation menu */
.nav-wrapper {
  display: flex;
  align-items: flex-start;
}

nav {
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

nav li {
  padding-top: 6px;
}

nav a {
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #505d68;
  font-size: 3rem;
}

/* Styling for login link */
.login-link {
  display: none;
}

/* Styling for items in a list */
.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid;
  padding: 8px;
  position: absolute;
  top: 38px;
  right: 0px;
  height: 100vh;
  background-color: black;
  width: 100%;
}

.section-hero__header {
  display: flex;
  flex-flow: column-reverse;
  text-align: center;
}

/* Styling for buttons */
.button-class {
  color: #ffffff;
  background-color: #505d68;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 40px;
  border-radius: 6px;
}

.section-product article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.section-product article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.section-product h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.section-product p {
  margin: 10px 0;
  color: #666;
}

.para-section-product__para-price {
  font-weight: bold;
  color: #e44d26;
}

.section-brand {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.section-brand__img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-brand__img-wrapper img {
  width: 49%;
}

.section-call_to_action {
  text-align: center;
  padding: 10px;
}

.h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

.section-call_to_action__Button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-call_to_action__Button-wrapper a {
  display: block;
  padding: 16px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #eb5e28;
  border-radius: 5px;
  box-shadow: 0 4px 8px #eb5e28;
  width: 275px;
  margin-top: 2rem;
}

.section-call_to_action__div-history {
  text-align: center;
}

.section-call_to_action__div-history img {
  width: 100%;
}

.footer-address__wrapper {
  text-align: center;
  border-top: 1px solid;
  padding: 10px;
}

.footer-address-outer {
  background-color: #e4e4e4;
  color: #222;
  padding: 0px 50px;
  text-align: center;
}

.footer-address__wrapper h3 {
  text-transform: uppercase;
}

.footer-address__social-icons i {
  font-size: 3rem;
  padding: 16px;
}

.footer-address__copyright {
  background-color: #222222;
  color: #fff;
  margin: 0;
  padding: 16px;
  text-align: center;
}

iframe {
  display: none;
}

.section-custom-suit__detail-header {
  background-image: url("images/background-custom-suit.webp");
  text-align: center;
  padding: 5%;
  height: 75vh;
  background-attachment: fixed;
  display: flex;
  align-items: flex-end;
  color: #ddd;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-custom-suit__detail-services ul {
  list-style: none;
  padding: 0;
}

.section-custom-suit__detail-services li {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.5;
  margin: 8%;
  background-color: #d7d7d7;
}

.section-custom-suit__detail-services li span {
  border-radius: 50%;
  background-color: #eb5e28;
  color: #fff;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 6px;
  display: inline-block;
  margin: 5px;
}

.section-custom-suit__detail-header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid;
}

.section-custom-suit__detail-services h2 {
  margin: 0 8%;
}

.form-container {
  margin: 50px auto;
  background-color: #ccc5b9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10%;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 8px;
  color: #252422;
}

.form-container input,
select,
textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #252422;
  border-radius: 4px;
  background-color: #fffcf2;
  width: 100%;
  margin: 8px 0px 16px 0px;
}

.form-container button {
  padding: 12px 36px;
  background-color: #ff8000;
  color: #fffcf2;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  border: none;
}

.form-container button:hover {
  background-color: #eb5e28;
  font-size: 2.3rem;
  padding: 13px 36px;
}

.section-shopping__info h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.form-container__measurements img {
  width: 100%;
  height: 500px;
}

.form-container__measurements span {
  background-color: black;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  padding: 9px;
  left: 12px;
  position: relative;
  left: -27px;
  top: 13px;
}

@media only screen and (min-width: 1200px) {
  /* Styling for navigation menu */
  nav {
    display: flex;
    align-items: center;
  }

  /* Styling for the toggle element */
  nav .toggle {
    display: none;
  }

  h1 {
    font-weight: 400;
  }

  /* Styling for navigation wrapper */
  .nav-wrapper {
    flex-flow: row-reverse;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    margin-left: 30px;
    align-items: center;
  }

  .section-hero__header {
    background-image: url("images/desktop-header-bg.jpg");
    height: 75vh;
  }

  /* Styling for navigation ul */
  nav ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Styling for navigation links */
  nav a {
    margin-right: 40px;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  header img {
    width: 100px;
  }

  header {
    background-color: #ccc5b9;
    align-items: center;
    padding: 0px;
    padding: 0 10%;
    position: fixed;
    width: 100%;
    height: 60px;
  }

  main {
    padding-top: 60px;
  }

  .section-custom-suit__detail-header h1 {
    margin: 0;
  }

  .section-custom-suit__detail-header {
    padding: 0;
    margin: 0 auto;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .section-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article {
    flex-basis: 20%; /* 25% width with 20px spacing */
  }

  .section-product img {
    max-height: 250px;
  }

  .section-brand__img-wrapper img {
    width: 20%;
  }

  iframe {
    border: 4px solid #ff8000 !important;
    border-radius: 10px;
    display: block;
    height: 40vh;
  }

  .section-custom-suit__detail-services ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section-custom-suit__detail-services li {
    width: 48%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    margin: 0;
    margin-top: 2%;
  }

  .section-custom-suit__detail-services {
    width: 1070px;
    margin: 0 auto;
  }

  .footer-address__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer-address__social-icons {
    margin-top: 5%;
  }

  .form-container {
    width: 1070px;
  }

  .section-shopping__info {
    width: 1070px;
    margin: 0 auto;
  }

  .form-container {
    padding: 3%;
  }

  .form-container__measurements {
    display: flex;
    gap: 50px;
  }

  .section-custom-suit__detail-services h2 {
    margin: 0;
  }
}
